.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.card {
  width: 100% !important;
  color: #163a62 !important;
  /* justify-content: center; */
  align-items: center;
}


.App {
  background-color: #2f7ca4!important;
  /* background-color: #282c34 !important; */
  min-height: 100vh;

}


